.home {
  display: flex;
  justify-content: space-around;
}

.cards {
  padding: 10px;
  width: 200px;
}

.card {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.remove-button {
  margin: 10px;
  cursor: pointer;
}